<div class="container col-sm-8 text-center">

  <div class="banner justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);">
   <h2 class="text-center">Venda seu ingresso na cambista</h2>
  </div>


    <%= simple_form_for @ticket do |f| %>
      <div class="form-inputs mt-4 col-md-6 offset-md-3">
        <%= f.input :event_name, label: "Nome do evento" %>
        <%= f.input :event_price, label: "Preço" %>
        <%= f.input :description, label: "Descrição", as: :text, :input_html => { :cols => 5, :rows => 5 } %>
        <%= f.input :event_date, label: "Data" %>
        <%= f.input :photo, label: "Foto do Evento", as: :file %>
          <div class="form-actions">
          <%= f.button :submit, 'Vender ingresso!', class: 'mt-3 btn-registrar-navbar' %>
          </div>
      </div>
    <% end %>
</div>
