<div class="banner-ticket" >
</div>
<div class="container content-page">
  <div class="d-flex justify-content-between mb-5">
    <h1><%= @ticket.event_name %></h1>
    <h3>Data: <%= @ticket.event_date %></h3>
  </div>
  <p class="mb-5"><%= @ticket.description %></p>
  <hr class="mb-5">
  <h2 class="mb-3">R$ <%= @ticket.event_price %></h2>
  <div >
    <% if user_signed_in? %>
      <%= link_to 'Buy Ticket', new_ticket_order_path(@ticket), class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>
